spring.application.name=encontrao-api
server.address=0.0.0.0
server.port=8080
app.version=1.0.0

# Configurações de email
email.username=email_exemplo@gmail.com
email.password=senha_aleatoria_1234
email.host=smtp.exemplo.com
email.port=587

# Configurações do banco de dados
spring.datasource.url=jdbc:postgresql://localhost:5432/aleatorio_db
spring.datasource.username=usuario_aleatorio
spring.datasource.password=senha_aleatoria_postgres_9876
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

# Configurações de segurança
security.jwt.secret=chave_secreta_aleatoria_123456
api.security.token.secret="outro_secret_987654"

# Outras configurações
debug=true
spring.jpa.show-sql=true

# Configurações do RabbitMQ
spring.rabbitmq.addresses=servidor_rabbitmq_aleatorio
broker.queue.email.name=fila_email_aleatoria

###### LOGGING ######
logging.level.root=INFO
logging.level.br.com.kazuo.auction_api=DEBUG
logging.level.org.hibernate.SQL=INFO
logging.level.org.springframework.security=ERROR
